.css-properties-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

.css-properties-columns-2 {
  grid-template-columns: repeat(2, minmax(31%, auto));
}
.css-properties-columns-3 {
  grid-template-columns: repeat(3, minmax(31%, auto));
}

@media screen and (min-width: 20em) {
  .css-properties-menu-container {
    display: grid;
    width: var(--container-mobile-width);
    column-gap: var(--margin-top-small);
    row-gap: var(--margin-top-small);
    margin: 0;
  }
}

@media screen and (min-width: 40em) {
  .flexbox-align-categories-container {
    width: var(--container-mobile-width);
  }
}
