.topics-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.text {
  color: white;
  font-family: var(--font-title);
  margin-top: 1rem;
  font-size: 0.9rem;
  white-space: pre-line;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text-margin-none {
  margin-top: 0;
}
