.text {
  color: var(--color-title-pink);
  font-family: var(--font-title);
  margin-top: 1rem;
  font-size: 0.9rem;
  white-space: pre-line;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text-margin-none {
  margin-top: 0;
}

@media screen and (min-width: 20em) {
  .topics-container {
    display: grid;
    max-width: var(--container-mobile-width);
    justify-items: center;
    row-gap: 0.4rem;
  }
}
