@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Milonga&family=Open+Sans:wght@400;700&family=Sniglet:wght@800&display=swap");

.header-mobile-container {
  background: var(--color-header-mobile);
}
.header-mobile-searchinput {
  background-color: #b4a8bc;
  font-family: var(--font-body);
  text-align: center;
  color: #1f1c18;
  border: none;
  border-radius: 15px;
}
.header-mobile-searchinput::placeholder {
  color: #1f1c18;
  opacity: 1;
  text-align: center;
}
.header-mobile-searchinput:focus {
  outline: none;
}
.header-mobile-li {
  color: var(--color-title-pink);
  font-family: var(--font-title), sans-serif;
  white-space: pre;
  text-align: center;
  font-size: 1.3rem;
}
.header-mobile-title {
  margin: 0 1.5rem;
}

@media screen and (min-width: 20em) {
  .header-mobile-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: var(--header-mobile-height);
  }
  .header-mobile-header {
    height: 100%;
    width: calc(100%);
  }
  .header-mobile-nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .header-mobile-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 0.5rem;
  }
  .header-mobile-searchinput {
    min-height: 2rem;
    font-size: 1rem;
    margin: 0 0.5rem;
  }
  .header-mobile-iconbrain {
    width: 3rem;
  }
  .header-mobile-iconmail {
    width: 3rem;
  }
}

@media screen and (min-width: 40em) {
  .header-mobile-container {
    display: none;
  }
}
