.button {
  border: none;
  font-family: var(--font-uppercase);
  background: var(--color-title-pink);
  color: var(--color-button-text);
}

@media screen and (min-width: 20em) {
  .button {
    font-size: 1rem;
  }
}

@media screen and (min-width: 45em) {
  .button {
    font-size: 1.5rem;
  }
}
