@font-face {
  font-family: "Milonga", sans-serif;
  src: url("../../assets/fonts/Milonga-Regular.woff") format("woff"),
    url("../../assets/fonts/Milonga-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Sniglet", sans-serif;
  src: url("../../assets/fonts/Sniglet-ExtraBold.woff") format("woff"),
    url("../../assets/fonts/Sniglet-ExtraBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../../assets/fonts/OpenSans-Regular.woff") format("woff"),
    url("../../assets/fonts/OpenSans-Regular.woff2") format("woff2");
  font-display: optional;
}

@font-face {
  font-family: "Bungee", sans-serif;
  src: url("../../assets/fonts/Bungee-Regular.woff") format("woff"),
    url("../../assets/fonts/Bungee-Regular.woff2") format("woff2");
  font-display: optional;
}

@font-face {
  font-family: "share_tech_monoregular";
  src: url("sharetechmono-regular-webfont.woff2") format("woff2"),
    url("sharetechmono-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
