@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Milonga&family=Open+Sans:wght@400;700&family=Sniglet:wght@800&display=swap");

.button-actionable {
  background-color: var(--color-button-actionable-bg);
  border: 2px var(--color-button-actionable-bg) solid;
  font-family: "Bungee", cursive;
  line-height: 1rem;
  white-space: break-spaces;
  font-size: 1rem;
  align-content: center;
}
.button-number-2 {
  width: calc(var(--container-mobile-width) / 2 - 0.2rem);
}
.button-number-3 {
  width: calc(var(--container-mobile-width) / 3 - 0.3rem);
}
.button-number-4 {
  width: calc(var(--container-mobile-width) / 4 - 0.4rem);
}
.button-actionable---color-button-yellow {
  color: var(--color-button-yellow);
}
.button-actionable---color-button-white {
  color: var(--color-button-white);
}
.button-actionable---color-button-redish {
  color: var(--color-button-redish);
}
.button-actionable---color-button-green {
  color: var(--color-button-green);
}
.button-actionable---color-button-blue {
  color: var(--color-button-blue);
}

.button-actionable---color-button-yellow-true {
  border: 2px var(--color-button-yellow) solid;
}
.button-actionable---color-button-white-true {
  border: 2px var(--color-button-white) solid;
}
.button-actionable---color-button-redish-true {
  border: 2px var(--color-button-redish) solid;
}
.button-actionable---color-button-green-true {
  border: 2px var(--color-button-green) solid;
}
.button-actionable---color-button-blue-true {
  border: 2px var(--color-button-blue) solid;
}
