@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Milonga&family=Open+Sans:wght@400;700&family=Sniglet:wght@800&display=swap");

.button-actionable {
  background-color: var(--color-button-actionable-bg);
  border: 2px var(--color-button-actionable-bg) solid;
  font-family: "Bungee", cursive;
}

.button-actionable---color-button-yellow {
  color: var(--color-button-yellow);
}
.button-actionable---color-button-white {
  color: var(--color-button-white);
}
.button-actionable---color-button-redish {
  color: var(--color-button-redish);
}
.button-actionable---color-button-green {
  color: var(--color-button-green);
}
.button-actionable---color-button-blue {
  color: var(--color-button-blue);
}

.button-actionable-terminology-active {
  border: 2px var(--color-button-yellow) solid;
}
.button-actionable-name-active {
  border: 2px var(--color-button-white) solid;
}
.button-actionable-axis-active {
  border: 2px var(--color-button-redish) solid;
}
.button-actionable-size-active {
  border: 2px var(--color-button-green) solid;
}
.button-actionable-start-end-active {
  border: 2px var(--color-button-blue) solid;
}

@media screen and (min-width: 20em) {
  .button-actionable {
    font-size: 1rem;
    height: var(--button-actionable-mobile-height);
  }
}

@media screen and (min-width: 47em) {
  .button-actionable {
    font-size: 1.2rem;
    height: var(--button-actionable-desktop-height);
    padding: 0 1rem;
  }
}
