.display-flex-div {
  border: 3px #3d3640 solid;
}
.flexbox-container-display {
  justify-content: center;
}
.column1 {
  background-color: #c3ade9;
}
.column2 {
  background-color: #a4c4dd;
}

.display-flex-div-flex {
  display: flex;
  border: 3px #3d3640 solid;
  flex-direction: column;
}

.display-flex-div-inline-flex {
  display: inline-flex;
  flex-direction: column;
}

.display-flex-text {
  font-family: var(--font-body);
  color: rgb(0, 0, 0);
}
