.labelled-icon-container-general {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  border-radius: 5px;
  padding: 0 0.2rem;
  border: none;
}

.labelled-icon-container-true {
  background-color: #f4ae44;
}

.labelled-icon-container-false {
  background-color: var(--color-title-background-pink);
}
.labelled-icon-svg {
  padding: 0.5rem 1rem;
  width: 3.8rem;
}
.labelled-icon-title {
  font-family: var(--font-button);
  font-weight: 400;
  color: white;
  text-align: center;
  padding: 0.2rem 0;
  margin: 0;
  line-height: 0.9rem;
  font-size: 0.9rem;
}

.labelled-icon-title-true {
  font-family: var(--font-button);
  font-weight: 400;
  color: black;
  text-align: center;
  padding: 0.2rem 0;
  margin: 0;
  line-height: 0.9rem;
  font-size: 0.9rem;
}
