.labelled-icon-main-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  border-radius: 5px;
  border: none;
  width: 4.4rem;
  padding-top: 0.4rem;
  height: var(--labelled-icon-mobile-height);
}
.labelled-icon-main-container-true {
  background-color: #f4ae44;
}
.labelled-icon-main-container-black {
  background-color: black;
}
.labelled-icon-main-container-false {
  background-color: var(--color-title-background-pink);
}
.labelled-icon-main-container-black-false {
  background-color: #111112;
}
.labelled-icon-main-container-black-true {
  color: #f7f7f7;
  background-color: var(--color-title-background-pink);
}
.labelled-icon-button {
  position: fixed;
  opacity: 0;
  height: 4.4rem;
  height: var(--labelled-icon-mobile-height);
}
.labelled-icon-svg {
  height: 2.1rem;
}
.labelled-icon-title {
  font-family: var(--font-button);
  font-weight: 400;
  color: white;
  text-align: center;
  margin: 0;
  line-height: 0.9rem;
  font-size: 0.9rem;
  padding: 0.6rem 0 0.35rem 0;
}

.labelled-icon-title-true {
  font-family: var(--font-button);
  font-weight: 400;

  text-align: center;
  margin: 0;
  line-height: 0.9rem;
  font-size: 0.9rem;
}
