.startEnd-false {
  opacity: 0;
}

.size-false {
  opacity: 0;
}

.axis-false {
  opacity: 0;
}

.name-false {
  opacity: 0;
}

.svg-flexbox {
  height: 100%;
}

.startend-left {
  opacity: 0;
}

.startend-down {
  opacity: 0;
}
