.StartEnd-false {
  opacity: 0;
}

.Size-false {
  opacity: 0;
}

.Axis-false {
  opacity: 0;
}

.Name-false {
  opacity: 0;
}

.svg-flexbox {
  height: 100%;
}

.size-right {
  opacity: 0;
}

.size-up {
  opacity: 0;
}

.startend-left {
  opacity: 0;
}

.startend-down {
  opacity: 0;
}
