@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Milonga&family=Open+Sans:wght@400;700&family=Sniglet:wght@800&display=swap");

.header-desktop-container {
  background-color: #211728;
}
.header-desktop-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.header-desktop-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.header-desktop-li {
  margin: 0;
}
.header-desktop-li:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  cursor: pointer;
  color: #f554b5;
}
.header-desktop-searchinput {
  background-color: #b4a8bc;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #1f1c18;
  border: none;
  border-radius: 15px;
}
.icon-mail-desktop:hover {
  cursor: pointer;
}
.header-desktop-searchinput::placeholder {
  color: #1f1c18;
  opacity: 1;
  text-align: center;
}
.header-desktop-searchinput:focus {
  outline: none;
}
@media screen and (min-width: 20em) {
  .header-desktop-container {
    display: none;
  }
}

@media screen and (min-width: 47em) {
  .header-desktop-container {
    display: block;
    height: var(--header-desktop-height);
    width: 100vw;
    position: absolute;
  }
  .header-desktop-header {
    height: var(--header-desktop-height);
    width: 100vw;
  }
  .header-desktop-nav {
    height: var(--header-desktop-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .allbut {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    width: var(--max-width-desktop-content);
    height: var(--header-desktop-height);
  }
  .header-desktop-ul {
    width: calc(var(--max-width-desktop-content) - 12rem - 20rem);
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  .header-desktop-searchinput {
    width: 20rem;
    height: 2rem;
  }
  .header-desktop-li {
    margin: 0;
    padding: 0;
  }
  .header-desktop-icons-container {
    width: 3rem;
  }
  .header-desktop-icons {
    width: 1rem;
  }
  .icon-mail-desktop {
    width: 3rem;
    margin-left: 0 auto;
    position: absolute;
    right: 1rem;
  }
}
