@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Milonga&family=Open+Sans:wght@400;700&family=Sniglet:wght@800&display=swap");

.header-desktop-container {
  background-color: #211728;
}
.header-desktop-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.header-desktop-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.header-desktop-li {
  margin: 0;
}
.header-desktop-li:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  cursor: pointer;
  color: #f554b5;
}
.header-desktop-searchinput {
  background-color: #b4a8bc;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #1f1c18;
  border: none;
  border-radius: 15px;
}
.icon-mail-desktop:hover {
  cursor: pointer;
}
.header-desktop-searchinput::placeholder {
  color: #1f1c18;
  opacity: 1;
  text-align: center;
}
.header-desktop-searchinput:focus {
  outline: none;
}
@media screen and (min-width: 20em) {
  .header-desktop-container {
    display: none;
  }
}

@media screen and (min-width: 47em) {
  .header-desktop-container {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: var(--header-desktop-height);
    width: 100vw;
  }
  .header-desktop-header {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .header-desktop-nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 60rem;
  }
  .header-desktop-all-but-mail-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60rem;
  }
  .header-desktop-ul {
    display: flex;
    height: 100%;
    width: 60rem;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }
  .header-desktop-icons-container {
    width: 5rem;
  }
  .header-desktop-li {
    margin: 0;
  }
  .header-desktop-icons {
    min-width: 4rem;
  }
  .header-desktop-searchinput {
    height: 3rem;
    margin: 0;
    padding: 0;
    min-width: 20rem;
  }
  .icon-mail-desktop {
    position: absolute;
    right: 3.5rem;
    width: 6rem;
  }
  .header-desktop-searchinput::placeholder {
    padding-left: 16px;
    font-size: 2rem;
  }
}
