.page-home-buttonlink-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

@media screen and (min-width: 20em) {
  .page-home-icon-rabbit-hole {
    width: 100vw;
    height: 8rem;
  }
}
