@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Milonga&family=Open+Sans:wght@400;700&family=Sniglet:wght@800&display=swap");

.home-allbutfooter-container {
  display: flex;
  flex-direction: column;
}
.home-title {
  color: var(--color-title-pink);
  font-family: "Milonga", cursive;
  text-align: center;
}
.home-logo-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-undertext-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.home-undertext-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-undertext-accentcolor {
  font-family: "Sniglet", cursive;
  color: var(--color-text-accent);
}
.home-undertext-normal {
  font-family: "Sniglet", cursive;
  color: var(--color-text-yellow);
}
.home-undertext-big {
  font-family: "Sniglet", cursive;
  color: var(--color-text-yellow);
  text-transform: uppercase;
}
.home-undertext-1 {
  font-family: "Open Sans", sans-serif;
}
.home-undertext-2 {
  color: var(--color-text-yellow);
}
@media screen and (min-width: 20em) {
  .home-allbutfooter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: calc(100vh - var(--header-mobile-height));
  }
  .home-undertext-main {
    padding: 0;
    margin-bottom: 0.8rem;
  }
  .icon-rabbit-hole {
    width: 9rem;
  }
  .home-title {
    padding: 0;
    margin: 0.5rem 0 0 0;
    font-size: 2rem;
  }
  .home-undertext-1 {
    padding: 0;
    margin: 1rem 0;
    font-size: 1rem;
  }
  .home-undertext-2 {
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
    line-height: 1.5rem;
  }
  .home-undertext-3 {
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
    line-height: 2rem;
  }
}

@media screen and (min-width: 45em) {
  .home-title {
    font-size: 4rem;
  }
  .home-undertext-main {
    margin-bottom: 1.3rem;
  }
  .home-undertext-normal {
    margin: 0;
    padding: 0;
  }
  .home-undertext-1 {
    margin: 1rem 0;
    font-size: 1.27rem;
  }
  .home-undertext-2 {
    padding: 0;
    margin: 0;
    font-size: 3.2rem;
    line-height: 3rem;
  }
  .home-undertext-3 {
    padding: 0;
    margin: 0;
    font-size: 3.8rem;
    line-height: 3rem;
  }
}
