.titleheader-container {
  background-color: var(--color-title-background-pink);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.titleheader-title {
  font-family: "Bungee", cursive;
  font-weight: 400;
  color: white;
  text-align: center;
}

@media screen and (min-width: 20em) {
  .titleheader-container {
    width: 100vw;
    height: var(--title-mobile-height);
    max-width: 20em;
  }
  .titleheader-title {
    line-height: 0.5rem;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 40em) {
  .titleheader-container {
    max-width: 30em;
    height: var(--title-desktop-height);
  }
  .titleheader-title {
    line-height: 0.5rem;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }
}
