.labelled-icon-container {
  display: flex;
  justify-content: space-around;
  width: calc(var(--container-mobile-width) - 1.3rem);
  height: var(--labelled-icon-mobile-height);
}

.labelled-icon-container-small {
  margin-top: var(--margin-top-small);
}
