.nav-link {
  text-decoration: none;
  border: 1px black solid;
  padding: 0 0.5rem;
  margin: 0 0.5rem;
}

.nav-link:visited {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 20em) {
}

@media screen and (min-width: 65em) {
}
