:root {
  /* Colors */
  --color-header-mobile: #211728;

  --color-title-pink: #f554b5;
  --color-title-background-pink: #bb3585;

  --color-text-yellow: #f4ae44;
  --color-text-accent: #ef4a4a;

  --color-background: #251f32;

  --color-button-actionable-bg: #322e3c;
  --color-button-black: #1c1a1c;
  --color-button-white: white;
  --color-button-yellow: #f4ae44;
  --color-button-redish: #ffa9a9;
  --color-button-green: #31df4d;
  --color-button-blue: #52c1ff;

  /* Header */
  --header-mobile-height: 4.1rem;
  --header-desktop-height: 4.5rem;

  /* Content page calculation */
  --content-mobile-full-page: calc(
    var(--vh, 1vh) * 100 - var(--header-mobile-height)
  );
  --content-desktop-full-page: calc(
    var(--vh, 1vh) * 100 - var(--header-desktop-height) -
      var(--footer-desktop-height)
  );

  /* Footer */
  --footer-desktop-height: 3.7rem;
  /* Footer: at which content size it can appear: */
  --footer-enabled: 32.5em;

  /* Title */
  --title-mobile-height: 2rem;
  --title-desktop-height: 2.5rem;

  /* Content size */
  --container-mobile-width: 19.5rem;
  --max-width-desktop-content: 60rem;
  /* Buttons */
  --button-actionable-mobile-height: 3rem;
  --button-actionable-mobile-margin: 0.3rem;
  --button-actionable-desktop-height: 3rem;
  --button-actionable-desktop-margin: 0.8rem;

  --labelled-icon-mobile-height: 4.3rem;

  --radio-label-mobile-height: 2.4rem;

  /* Margins */
  --margin-top-extra-small: 0.1rem;
  --margin-top-small: 0.3rem;
  --margin-top-medium: 0.5rem;
  --margin-top-large: 0.8rem;
  --margin-top-big: 1.2rem;
  --margin-top-huge: 1.8rem;

  /* Graphics */
  --container-flexbox-graph: 6rem;

  /* Fonts */
  --font-button: "Bungee";
  --font-title: "Milonga";
  --font-body: "Open Sans";
  --font-funny: "Sniglet";
}
/*
font-family: var(--font-button);
font-family: var(--font-title);
font-family: var(--font-body);
font-family: var(--font-funny);
*/
