.header-link {
  font-family: var(--font-button);
  font-weight: 400;
  color: #f4ae44;
  text-decoration: none;
}
.header-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  cursor: pointer;
  color: #f554b5;
}

@media screen and (min-width: 40em) {
  .header-link {
    font-size: 1.052rem;
  }
}
