.flexbox-graphics-container-flexshrink {
  display: flex;
  height: 2rem;
}

.flexbox-graphics-items-flexshrink {
  width: 50%;
}

.flexbox-graphics-items-flexshrink-blue {
  background-color: var(--color-button-blue);
}

.ghost {
  opacity: 1;
  display: none;
  top: 0;
}
