.cheat-sheet-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.cheat-sheet-flexbox-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: var(--color-background);
}
.cheat-sheet-options-container {
  display: flex;
  flex-direction: row;
}
.cheat-sheet-title {
  line-height: 0.5rem;
}

@media screen and (min-width: 20em) {
  .cheat-sheet-flexbox-container {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100vh - var(--header-mobile-height));
    width: 100vw;
  }
  .cheat-sheet-container {
    height: 100%;
    width: 100%;
  }
  .cheat-sheet-title-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    width: 20rem;
  }
  .cheat-sheet-options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0.3rem 0;
    height: var(--button-actionable-mobile-height);
  }
  .cheat-sheet-sub-options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: var(--button-actionable-mobile-height);
  }
  .cheat-sheet-svg {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: calc(
      100vh - var(--button-actionable-mobile-height) * 2 -
        var(--title-header-mobile-height) - 6rem
    );
  }
}

@media screen and (min-width: 45em) {
  .cheat-sheet-container {
    min-height: calc(100vh - var(--header-desktop-height));
    max-width: 100rem;
    align-self: center;
  }
  .cheat-sheet-title-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
  }
  .cheat-sheet-options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 30rem;
  }
}
