.flexbox-graphics-container {
  margin-top: var(--margin-top-small);
  background-color: #7b728f;
  width: var(--container-mobile-width);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 5px;
}

.flexbox-graphics-items {
  background-color: #f4ae44;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bungee", cursive;
  text-align: center;
  border: 1px black solid;
  line-height: 1rem;
  width: 100%;
}

.flexbox-alignself-items {
  background-color: var(--color-button-blue);
}
