.cheat-sheet-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cheat-sheet-title-container {
  background-color: #bb3585;
  display: flex;
  justify-content: center;
}

.cheat-sheet-title {
  font-family: "Bungee-Regular";
  font-weight: 400;
  color: white;
}
.cheat-sheet-options-container {
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 20em) {
  .cheat-sheet-container {
    height: Calc(100vh - var(--header-mobile-height));
  }
  .cheat-sheet-title-container {
    height: 3rem;
    width: 100vw;
  }
  .cheat-sheet-title {
    line-height: 0.5rem;
  }
}
