.flexbox-justify-content-container {
  height: 4.5rem;
}

.flexbox-justify-content-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 4.5rem;
}

.justify-content-flexstart {
  justify-content: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-flex-end {
  justify-content: flex-end;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-space-around {
  justify-content: space-around;
}
.justify-content-space-evenly {
  justify-content: space-evenly;
}
