.flexbox-align-categories-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  margin-top: 0.4rem;
  width: 20rem;
}

.align-sub-categorie-container {
  margin-top: 0.4rem;
  width: 20rem;
}
