.page-container {
  background-color: var(--color-background);
}

@media screen and (min-width: 20em) {
  .page-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: absolute;
    min-height: var(--content-full-page);
    margin-top: var(--header-mobile-height);
  }
}

@media screen and (min-width: 47em) {
  .page-container {
    position: absolute;
    margin-top: var(--header-desktop-height);
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: var(--content-desktop-full-page);
  }
}
