.page-container {
  background-color: var(--color-background);
}

@media screen and (min-width: 20em) {
  .page-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: calc(100vh - var(--header-mobile-height));
    margin-top: var(--header-mobile-height);
  }
}

@media screen and (min-width: 45em) {
  .page-container {
    margin-top: var(--header-desktop-height);
    min-height: calc(
      100vh - var(--header-desktop-height) - var(--footer-desktop-height)
    );
    width: 100vw;
    display: flex;
    justify-content: center;
  }
}
