.footer-container {
  background-color: #211728;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.footer-text {
  color: #f8c8c8;
  text-align: center;
}

@media screen and (max-height: 36.6249em) {
  .footer-container {
    display: none;
  }
}

@media screen and (min-height: 36.625em) {
  .footer-container {
    position: fixed;
    bottom: 0;
    display: flex;
    height: var(--footer-desktop-height);
    width: 100vw;
  }
  .footer-text {
    font-size: 0.9rem;
  }
}
