.footer-container {
  background-color: #211728;
  flex-direction: column;
}
.footer-text {
  color: #f8c8c8;
  text-align: center;
}

@media screen and (min-width: 20em) {
  .footer-container {
    display: none;
  }
}

@media screen and (min-width: 45em) {
  .footer-container {
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    height: var(--footer-desktop-height);
    width: 100vw;
  }
  .footer-text {
    font-size: 0.9rem;
    margin: 0;
  }
}
