.footer-container {
  background-color: #211728;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: none;
  font-family: var(--font-body);
  height: var(--footer-desktop-height);
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
}
.footer-text {
  color: #f8c8c8;
  text-align: center;
  margin: 0;
}

@media screen and (min-width: 20.75em) and (min-height: 32.5em) {
  .footer-container {
    display: flex;
  }
}
