.page-home-container {
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.topics-links-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 3rem;
  background-color: #181422;
}

.topics-links-title {
  font-family: var(--font-code-regular, monospace);
  white-space: pre;
  color: #e4dce9;
  width: 15rem;
  margin-left: 0.4rem;
}

.topics-links-icon {
  display: flex;
  flex-flow: row nowrap;
  height: 3rem;
  width: 3rem;
  align-items: center;
}

@media screen and (min-width: 20em) {
  .topics-links-container {
    max-width: var(--container-mobile-width);
  }
  .page-home-container {
    position: absolute;
    margin-top: var(--header-mobile-height);
    min-height: var(--content-mobile-full-page);
  }
}
@media screen and (min-width: 20.75em) and (min-height: 32.5em) {
  .page-home-container {
    position: absolute;
    margin-top: var(--header-mobile-height);
    min-height: calc(
      var(--content-mobile-full-page) - var(--footer-desktop-height)
    );
  }
}
