.page-container-noscroll {
  width: 100vw;
  background-color: var(--color-background);
}

@media screen and (min-width: 20em) {
  .page-container-noscroll {
    position: absolute;
    top: var(--header-mobile-height);
    right: 0;
    height: var(--content-full-page);
    width: 100vw;
  }
}
