.page-container-noscroll {
  width: 100vw;
  background-color: var(--color-background);
}

@media screen and (min-width: 20em) {
  .page-container-noscroll {
    position: relative;
    top: var(--header-mobile-height);
    right: 0;
    min-height: 90vh;
    width: 100vw;
  }
}
