.button-actionable-container {
  display: flex;
  justify-content: space-between;
  width: var(--container-mobile-width);
  height: 3rem;
}

.button-actionable-container-small {
  margin-top: var(--margin-top-small);
}
.button-actionable-container-medium {
  margin-top: var(--margin-top-medium);
}
.button-actionable-container-big {
  margin-top: var(--margin-top-big);
}
