.button-actionable-container {
  display: flex;
  justify-content: space-between;
  width: var(--container-mobile-width);
  height: 3rem;
}

.button-actionable-container-small {
  margin-top: var(--margin-top-small);
}
