.page-container-column {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  width: 100vw;
}

.page-container-column-vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 20em) {
  .page-container-column {
    position: absolute;
    min-height: var(--content-mobile-full-page);
    margin-top: var(--header-mobile-height);
  }
}

@media screen and (min-width: 40em) {
  .page-container-column {
    min-height: var(--content-desktop-full-page);
    margin-top: var(--header-desktop-height);
  }
}
