.page-container-column {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  width: 100vw;
}

@media screen and (min-width: 20em) and (max-height: 32.5em) {
  .page-container-column {
    position: absolute;
    min-height: var(--content-mobile-full-page);
    margin-top: var(--header-mobile-height);
  }
}

@media screen and (min-height: 32.5em) {
  .page-container-column {
    position: absolute;
    min-height: var(--content-desktop-full-page);
    margin-top: var(--header-desktop-height);
  }
}
