.page-container-column {
  background-color: var(--color-background);
}

.page-container-column-vertical-center {
  align-items: center;
}

@media screen and (min-width: 20em) {
  .page-container-column {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: var(--content-full-page);
    margin-top: var(--header-mobile-height);
  }
}

@media screen and (min-width: 40em) {
  .page-container-column {
    min-height: var(--content-desktop-full-page);
    margin-top: var(--header-desktop-height);
  }
}
