/* @font-face {
  font-family: "Sniglet-ExtraBold", cursive;
  font-weight: 400;
  src: local("Sniglet-ExtraBold"),
    url("./assets/fonts/Sniglet-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Regular", sans-serif;
  src: local("OpenSans-Regular"),
    url("./assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Bold", sans-serif;
  src: local("OpenSans-Bold"),
    url("./assets/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Milonga-Regular", cursive;
  font-weight: 400;
  src: local("Milonga-Regular"),
    url("./assets/fonts/Milonga-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bungee-Regular", cursive;
  src: local("Bungee-Regular"),
    url("./assets/fonts/Bungee-Regular.ttf") format("truetype");
}
 */

@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Milonga&family=Open+Sans:wght@400;700&family=Sniglet:wght@800&display=swap");
