@font-face {
  font-family: "BungeeInline-Regular";
  src: local("BungeeInline-Regular"),
    url("./assets/fonts/BungeeInline-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Berkshire Swash";
  src: local("Berkshire Swash"),
    url("./assets/fonts/BerkshireSwash-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: local("OpenSans-Regular"),
    url("./assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: local("OpenSans-Bold"),
    url("./assets/fonts/OpenSans-Bold.ttf") format("truetype");
}
