:root {
  --font-title-main: "Milonga-Regular";
  --font-text: "OpenSans-Regular";
  --font-title-secondary: "Sniglet-ExtraBold";
  --font-uppercase: "Bungee-Regular";

  --color-title-pink: #f554b5;
  --color-text-yellow: #f4ae44;
  --color-text-accent: #ef4a4a;
  --color-background: #251f32;
  --color-button-text: #1c1a1c;

  --header-mobile-height: 5.5rem;
  --header-desktop-height: 5.5rem;
  --footer-desktop-height: 5.5rem;
  --content-desktop-height: 5.5rem;
}
