.slider-container {
  margin-left: 1rem;
}

.slider-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 0.7rem;
  outline: none;
  opacity: 1;
  border: 2px #58404f solid;
  background-color: black;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 25px;
  background: var(--color-button-yellow);
  cursor: pointer;
}
